aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
discord.py==1.2.5
futures==3.1.1
goslate==1.5.1
idna==2.6
idna-ssl==1.1.0
multidict==4.6.1
PyDictionary==1.5.2
requests>=2.20.0
soupsieve==1.9.5
typing-extensions==3.7.4.1
urllib3>=1.24.2
websockets==6.0
yarl==1.4.2
